@mixin transparent {
  background: transparent !important;
}

/**
* @description scss 中引入图片可以有2种方式:
* 1.相对路径
* background: url("../../assets/img/footer.jpg") no-repeat;
* 2.绝对路径
* background: url("~@/assets/img/footer.jpg") no-repeat;
* 3.在html中通过require的方式引入
* :style="{
*    background: 'url(' + require('@/assets/img/footer.jpg') + ') no-repeat',
* }"
*/


$app-menu-background: url('~@/assets/image/menu-background.png') no-repeat;

@mixin container {
    background: $app-menu-background !important;
    background-size: auto 100% !important;
}

body.app-image {
  .sidebar-container {
      @include container;
  }
  .el-menu {
    @include transparent;

    .el-menu-item,
    .el-sub-menu,
    .el-sub-menu__title {
      @include transparent;
    }
  }
  // 虽然base里面element-ui样式已经有初始化，但是这里还是需要再设置一下，不然会被transparent覆盖
  .el-menu-item.is-active {
    background: var(--app-menu-item-active) !important;
  }

  .el-menu-item:hover {
    background: var(--app-menu-item-hover) !important;
  }
}
