@mixin sidebar-style($width, $marginLeft) {
  // 展开的侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: $width !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 0 0 1px #888888;
    .sidebar-logo {
      height: 50px;
      position: relative;
      text-align: center;
      overflow: hidden;
      .sidebar-logo-link {
        text-decoration: none;
        display: inline-block;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // 弹性布局，空间不足换行
        flex-wrap: wrap;
        i {
          font-size: 34px;
          line-height: 50px;
          color: $--color-primary;
        }
        h3 {
          color: $--color-primary;
          font-size: 20px;
          font-weight: 700;
          line-height: 50px;
        }
      }
    }
    .sidebar-container {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }
  }
  // 主题内容区域
  .main-container {
    margin-left: $marginLeft;
    height: calc(100% - 50px);
    .navbar {
      width: 100%;
      height: 50px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-menu {
        display: flex;
        align-items: center;
        .hamburger {
          height: 100%;
          padding: 0 15px;
          display: flex;
          align-items: center;
          .hamburger-icon {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            &.is-active {
              transform: rotate(180deg);
            }
          }
        }
        .breadcrumb {
          .no-redirect {
            color: #97a8be;
            cursor: text;
          }
          a {
            font-weight: normal;
          }
        }
      }
      .right-menu {
        display: flex;
        align-items: center;
        .screen-full {
          width: 40px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          cursor: pointer;
          &:hover {
            background: #f0f0f0;
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}

#layout {
  height: 100%;
}

.openSidebar {
  $width: 210px;
  $marginLeft: 210px;
  @include sidebar-style($width, $marginLeft);
}

// layout收缩侧边栏
.hideSidebar {
  $width: 54px;
  $marginLeft: 54px;
  @include sidebar-style($width, $marginLeft);
}
