/* 间距大小

左间距 [ml(1/2/3/.../30)]{ margin-left:(1/2/3/...30)px }
右间距 [mr(1/2/3/.../30)]{ margin-right:(1/2/3/...30)px }
顶部间距 [mt(1/2/3/.../30)]{ margin-top:(1/2/3/...30)px }
底部间距 [mb(1/2/3/.../30)]{ margin-bottom:(1/2/3/...30)px }

*/

$direction: (l left, r right, t top, b bottom);
@for $i from 1 through 50 {
  @each $type in m, p, v, h, a {
    @if $type == m {
      @each $d in $direction {
        [m#{nth($d, 1)}#{$i}] {
          margin-#{nth($d, 2)}: #{$i}px;
        }
      }
    } @else if $type == p {
      @each $d in $direction {
        [p#{nth($d, 1)}#{$i}] {
          padding-#{nth($d, 2)}: #{$i}px;
        }
      }
    } @else if $type == h {
      [ph#{$i}] {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
      }

      [mh#{$i}] {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
      }
    } @else if $type == v {
      [pv#{$i}] {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
      }
    } @else {
      [pa#{$i}] {
        padding: #{$i}px;
      }
    }
  }
}
