/// 使用flex实现水平垂直居中 (三个斜杠才有参数高亮)
/// @param {[string]} &justify  center水平对齐，false水平方向不设置  默认是center
/// @param {[string]} &align  center垂直对齐方向，false垂直方向不设置 默认是center
/// @example

/*
CSS
.xxx {
    display: flex;
    justify-content: center;
    align-items: center;
 }

less
.xxx {
  @include box-center(center,center)
}
*/

/// @author Baojun

@mixin flex-center($justify: center, $align: center) {
	display: flex;
	@if $align != false {
		align-items: $align;
	}
	@if $justify != false {
		justify-content: $justify;
	}
}

/// 使用translate实现水平垂直居中
/// @param {[string]} &direction  both水平垂直居中  horizontal水平居中  vertical垂直居中  默认是both
/// @example

/*
CSS
.xxx {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%, -50%, 0);
 }

SCSS
.xxx {
  @include translate-center(both)
}
*/

@mixin translate-center($direction: both) {
	position: absolute;
	@if $direction == both {
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	} @else if $direction == horizontal {
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	} @else if $direction == vertical {
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
}
