/* 边框圆角

[fz12]{ font-size: 12px }
[fz24]{ font-size: 24px }
[fz48]{ font-size: 48px }

*/

@for $i from 1 through 10 {
  [radius#{$i}] {
    border-radius: #{$i}px;
    overflow: hidden;
  }
}

[circle] {
  border-radius: 50%;
  // border-radius: 1000px; // 设置个超过元素的圆半径值，也可以实现圆形效果
}
