#data-operation {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #020308;
  color: #d3d6dd;
  // 父元素想要隐藏溢出的绝对定位的子元素，需要给父元素加一个定位;
  // 因为绝对定位的子元素会从内向外寻找有定位的父元素，找不到的话overflow:hidden;也会随之失效。
  overflow: hidden;
  .data-operation-wrap {
    // 设计稿尺寸(px)
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    .bg {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 16px 16px 0 16px;
      background-image: url('@/assets/image/pageBg.png');
      background-size: cover;
      background-position: center center;
      .host-body {
        header {
          background: url('@/assets/image/screenTop.png') no-repeat;
          background-size: 100% 100%;
          position: relative;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          .select-page {
            position: absolute;
            left: 90px;
            top: 30px;
            display: flex;
            .select-page-item {
              margin: 0 10px;
              width: 140px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              font-size: 20px;
              color: #0efcff;
              cursor: pointer;
              position: relative;
              &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 1px solid #6176af;
                transform: skewX(-38deg);
              }
              &.active,
              &:hover {
                &::before {
                  border-color: #0efcff;
                  box-shadow: 1px 1px 3px 2px #0efcff inset;
                }
              }
            }
            .select-page-item {
              background-color: #0f1325;
            }
          }
          .header-title {
            font-size: 30px;
            color: #0efcff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .select-range {
            width: 420px;
            position: absolute;
            right: 150px;
            top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .el-date-editor {
              background-color: #020308;
              &.is-active {
                border-color: #0efcff;
                &:hover {
                  border-color: #0efcff;
                }
              }
              .el-range-input {
                background-color: #020308;
                color: #fff;
              }
              .el-range-separator {
                color: #fff;
              }
              i {
                color: #fff;
              }
            }
            .screen-full {
              cursor: pointer;
              i {
                font-size: 38px;
                color: #0efcff;
              }
            }
          }
        }
        main {
          padding-top: 20px;
          .content-box {
            width: 100%;
            // box-sizing对grid网格布局不生效
            // box-sizing: border-box;
            // 网格布局
            display: grid;
            // 有三列，每列的宽度，可以使用百分比或者像素
            grid-template-columns: 29% 40% 29%;
            // 列间距, 设置了这个宽度会超出百分百
            column-gap: 1%;
            .center-left {
              height: 430px;
            }
            .data-center {
              height: 430px;
              .plant-up {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                li {
                  width: 22%;
                  text-align: center;
                  background: rgba(0, 235, 255, 0.08);
                  display: flex;
                  flex-flow: column;
                  .li-title {
                    padding-top: 20px;
                    font-size: 22px;
                  }
                  .count-to {
                    padding: 20px 0;
                  }
                  .line {
                    width: 80%;
                    height: 5px;
                  }
                }
              }
              .plant-down {
              }
            }
            .center-right {
            }
          }
        }
      }
    }
  }
}
