/** 引入element-plus样式，并根据项目修改个性化样式 */

@import 'element-plus/dist/index.css';

// 解决侧边菜单栏收缩后宽度限定了64px
.el-menu {
	border-right: none !important;
}
.el-submenu,
.el-sub-menu__title,
.el-menu-item {
	margin: 0 7px !important;
	border-radius: 5px !important;
}
.el-menu-item.is-active {
	background: var(--app-menu-item-active) !important;
}
.el-menu-item:hover {
	background: var(--app-menu-item-hover) !important;
}

// 解决侧边菜单栏右边框1px显示叠加问题
.el-menu--collapse {
	width: auto !important;
}

// 设置dialog弹窗圆角
.el-dialog {
	border-radius: 6px !important;
}

// 设置抽屉头部样式
.el-drawer__header {
	padding: 14px 16px !important;
	margin-bottom: 0 !important;
	border-bottom: 1px solid $base-border-color-base !important;
}
.el-card {
	margin-bottom: $base-margin !important;
}
