@import './var.scss';

/*
1.JS与SCSS共享变量，在scss中通过：export 导出，在js中可以通过ESM进行导入
2.需要将 文件 命名为 *.module.scss，否则:export 导出对象会为空
*/

//
:export {
  // 菜单文字颜色变量导出
  //menu-color: $base-menu-color;
  // 菜单选中文字颜色变量导出
  //menu-color-active: $base-menu-color-active;
  // 菜单背景色变量导出
  //menu-background: $base-menu-background;
  // 分栏菜单背景色变量导出
  // column-second-menu-background: $base-column-second-menu-background;
  // 菜单文字颜色变量导出
  menu-text: $base-menu-color;
  // 菜单选中文字颜色变量导出
  menu-text-active: $base-menu-color-active;
  // 菜单背景色变量导出
  menu-background: $base-menu-background;
}