/**
 * @description 全局主题变量配置
 */
// 颜色配置
$base-color-black: #222;
$base-color-blue: #409eff;
$base-color-green: #67c23a;
$base-color-white: #fff;
$base-color-gray: #e6e5e1;
$base-color-yellow: #e6a23c;
$base-color-orange: #ff6700;
$base-color-red: #f56c6c;
$base-color-grey: rgba(0, 0, 0, 0.65);
$base-color-background: #f6f8f9;

$base-color-text-primary: #303133;
$base-color-text-regular: #606266;
$base-color-text-secondary: #909399;
$base-color-text-placeholder: #c0c4cc;
$base-border-color-base: #dcdfe6;
$base-border-color-light: #e4e7ed;
$base-border-color-lighter: #ebeef5;
$base-border-color-extra-light: #f2f6fc;
$base-background-color-base: #f5f7fa;

// 层级设置，要考虑到UI库的组件层级
$base-z-index-first: 1950;
$base-z-index-second: 1960;
$base-z-index-third: 1970;
$base-z-index-fourth: 1980;
$base-z-index-fifth: 1990;
$base-z-index-max: 1999;
//边框颜色
$base-border-color: #dcdfe6;
//输入框高度
$base-input-height: 32px;
// 默认margin
$base-margin: 20px;
// 默认padding
$base-padding: 20px;
// 顶部nav-bar的高度
$base-nav-height: 50px;
// 顶部标签页tabs-bar的高度
$base-tabs-height: 50px;
// 顶部标签页tabs-bar中每一个item的高度
$base-tag-item-height: 34px;
// 菜单li标签的高度
$base-menu-item-height: 50px;
// app底部footer的高度
$base-footer-height: 56px;
// page-main的高度, 56是底部声明的高度
$base-page-height: calc(
  100vh - #{$base-nav-height} - #{$base-tabs-height} - #{$base-padding} * 2 - 56px
);
// 纵向左侧导航未折叠的宽度
$base-left-menu-width: 220px;
// 纵向左侧导航未折叠右侧内容的宽度
$base-right-content-width: calc(100% - #{$base-left-menu-width});
// 纵向左侧导航已折叠的宽度
$base-left-menu-width-min: 71px;
// 纵向左侧导航已折叠右侧内容的宽度
$base-right-content-width-min: calc(100% - #{$base-left-menu-width-min});
// 默认动画
// transition-timing-function: cubic-bezier()该属性用于描述属性的中间值。即该两个状态变化的过渡曲线
$base-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border 0s,
  color 0.1s, font-size 0s;
// 默认动画长
$base-transition-time: 0.3s;
// 悬浮球直径（宽高）
$base-dragball-diam: 45px;
