@font-face {
  font-family: "iconfont"; /* Project id 2842745 */
  src: url('iconfont.woff2?t=1632885350602') format('woff2'),
       url('iconfont.woff?t=1632885350602') format('woff'),
       url('iconfont.ttf?t=1632885350602') format('truetype');
}

[class^='iconfont'],[class*='iconfont'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vue:before {
  content: "\e799";
}

.icon-comment:before {
  content: "\e608";
}

.icon-app:before {
  content: "\e60d";
}

.icon-download:before {
  content: "\e60e";
}

.icon-file:before {
  content: "\e610";
}

.icon-edit:before {
  content: "\e60f";
}

.icon-link:before {
  content: "\e611";
}

.icon-index:before {
  content: "\e612";
}

.icon-navigation_two:before {
  content: "\e613";
}

.icon-setup:before {
  content: "\e617";
}

.icon-warn:before {
  content: "\e618";
}

.icon-tips:before {
  content: "\e619";
}

