@font-face {
  font-family: "iconfont"; /* Project id 2842745 */
  src: url('iconfont.woff2?t=1644199304671') format('woff2'),
       url('iconfont.woff?t=1644199304671') format('woff'),
       url('iconfont.ttf?t=1644199304671') format('truetype');
}

[class^='iconfont'],[class*='iconfont'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group:before {
  content: "\e61a";
}

.icon-lajitong:before {
  content: "\e604";
}

.icon-bianji:before {
  content: "\e605";
}

.icon-daiban:before {
  content: "\e63e";
}

.icon-segmentfault:before {
  content: "\e60a";
}

.icon-juejin-logo:before {
  content: "\e600";
}

.icon-jianshu:before {
  content: "\e601";
}

.icon-stack-overflow-fill:before {
  content: "\e664";
}

.icon-BaiDu:before {
  content: "\e602";
}

.icon-Google:before {
  content: "\e603";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-github-line:before {
  content: "\e767";
}

.icon-reactjs-line:before {
  content: "\e7b9";
}

.icon-vuejs-line:before {
  content: "\e7c1";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-jiantou_xiangshang:before {
  content: "\eb0a";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-bangzhuzhongxin:before {
  content: "\e78f";
}

.icon-guanji:before {
  content: "\e6da";
}

.icon-wode1-xianxing:before {
  content: "\e700";
}

.icon-quanping6-xianxing:before {
  content: "\e6e7";
}

.icon-shengyin08-xianxing:before {
  content: "\e6ec";
}

.icon-quanping5-xianxing:before {
  content: "\e6e9";
}

.icon-shuaxin2:before {
  content: "\e6f0";
}

.icon-tubiao02-xianxing:before {
  content: "\e6f5";
}

.icon-anniu_guanbi:before {
  content: "\eaef";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-wenzi:before {
  content: "\e735";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-comment:before {
  content: "\e608";
}

.icon-app:before {
  content: "\e60d";
}

.icon-download:before {
  content: "\e60e";
}

.icon-file:before {
  content: "\e610";
}

.icon-edit:before {
  content: "\e60f";
}

.icon-link:before {
  content: "\e611";
}

.icon-index:before {
  content: "\e612";
}

.icon-navigation_two:before {
  content: "\e613";
}

.icon-setup:before {
  content: "\e617";
}

.icon-warn:before {
  content: "\e618";
}

.icon-tips:before {
  content: "\e619";
}

