// export 导出的变量，文件名要是*.module.scss, 才能正常使用

:export {
  // 菜单文字颜色变量导出
  menu-color: var(--app-menu-color);
  // 菜单选中文字颜色变量导出
  menu-color-active: var(--app-menu-color-active);
  // 菜单背景色变量导出
  menu-background: var(--app-menu-background);
  // 分栏菜单背景色变量导出
  column-second-menu-background: var(--base-column-second-menu-background);
  // 导出圆角
  app-border-radius: var(--base-border-radius);
}
