#data-operation {
	position: relative;
	width: 100%;
	height: 100%;

	// 父元素想要隐藏溢出的绝对定位的子元素，需要给父元素加一个定位;
	// 因为绝对定位的子元素会从内向外寻找有定位的父元素，找不到的话overflow:hidden;也会随之失效。
	overflow: hidden;
	color: #d3d6dd;
	background-color: #020308;
	.data-operation-wrap {
		position: absolute;
		top: 50%;
		left: 50%;

		// 设计稿尺寸(px)
		width: 1920px;
		height: 1080px;
		transform: translate(-50%, -50%);
		transform-origin: left top;
		.bg {
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			padding: 16px 16px 0;
			background-image: url('@/assets/images/pageBg.png');
			background-position: center center;
			background-size: cover;
			.host-body {
				header {
					position: relative;
					display: flex;
					align-items: center;
					width: 100%;
					height: 80px;
					background: url('@/assets/images/screenTop.png') no-repeat;
					background-size: 100% 100%;
					.select-page {
						position: absolute;
						top: 30px;
						left: 90px;
						display: flex;
						.select-page-item {
							position: relative;
							width: 140px;
							height: 40px;
							margin: 0 10px;
							font-size: 20px;
							line-height: 40px;
							color: #0efcff;
							text-align: center;
							cursor: pointer;
							background-color: #0f1325;
							&::before {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								content: '';
								border: 1px solid #6176af;
								transform: skewX(-38deg);
							}
							&.active,
							&:hover {
								&::before {
									border-color: #0efcff;
									box-shadow: 1px 1px 3px 2px #0efcff inset;
								}
							}
						}
					}
					.header-title {
						position: absolute;
						top: 50%;
						left: 50%;
						font-size: 30px;
						color: #0efcff;
						transform: translate(-50%, -50%);
					}
					.select-range {
						position: absolute;
						top: 30px;
						right: 150px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 420px;
						.el-date-editor {
							background-color: #020308;
							&.is-active {
								border-color: #0efcff;
								&:hover {
									border-color: #0efcff;
								}
							}
							.el-range-input {
								color: #ffffff;
								background-color: #020308;
							}
							.el-range-separator {
								color: #ffffff;
							}
							i {
								color: #ffffff;
							}
						}
						.screen-full {
							cursor: pointer;
							i {
								font-size: 38px;
								color: #0efcff;
							}
						}
					}
				}
				main {
					padding-top: 20px;
					.content-box {
						// box-sizing对grid网格布局不生效
						// box-sizing: border-box;
						// 网格布局
						display: grid;

						// 有三列，每列的宽度，可以使用百分比或者像素
						grid-template-columns: 29% 40% 29%;

						// 列间距, 设置了这个宽度会超出百分百
						column-gap: 1%;
						width: 100%;
						.center-left {
							height: 430px;
						}
						.data-center {
							height: 430px;
							.plant-up {
								display: flex;
								justify-content: space-between;
								margin-bottom: 20px;
								li {
									display: flex;
									flex-flow: column;
									width: 22%;
									text-align: center;
									background: rgb(0 235 255 / 8%);
									.li-title {
										padding-top: 20px;
										font-size: 22px;
									}
									.count-to {
										padding: 20px 0;
									}
									.line {
										width: 80%;
										height: 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
